.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.dashboard .header div > a {
  display: flex;
  align-items: center;
}

.dashboard .header div > a:hover {
  color: var(--secondary-color) !important;
}

@media (max-width: 1200px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .dashboard .header .tools{
    /* display: flex;
    flex-direction: column; */
    flex-wrap: wrap;
    row-gap: 0.3rem;
  }
 .dashboard .header{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}

@media (max-width: 950px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}
