.project {
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 5px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project:hover {
  transform: scale(1.02);
  transition: -webkit-transform 0.3s;
  box-shadow: 0 0 8px 1px var(--primary-color);
}

.project .project-body {
  color: var(--secondary-color);
}

.project-header,
.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-footer {
  color: var(--secondary-color);
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--link-color);
}

.project-footer p {
  display: flex;
  align-items: center;
}

.project-header {
  color: var(--primary-color);
  padding-bottom: 2rem;
}
